{% extends 'base.html.twig' %}

{% block title %}
	Conditions Générales de Vente | Atelier Halo
{% endblock %}

{% block body %}

	<section class="legal-page-section">

		<div class="container">

			<div class="legal-page-panel">

				<a href="{{ path('app_home') }}" class="legal-back-btn">
    <span>←</span>
    Retour à l’accueil
</a>

				<span class="section-badge">
					Documents légaux
				</span>

				<h1>
					Conditions Générales de Vente
				</h1>

				<p class="legal-update">
					Dernière mise à jour : Mai 2026
				</p>

				<div class="legal-content">

					<h2>1. Présentation de l’entreprise</h2>

					<p>
						Atelier Halo est une micro-entreprise spécialisée dans
																		                    le développement web et les prestations numériques.
					</p>

					<ul>
						<li>Nom commercial : Atelier Halo</li>
						<li>SIREN : 849242474 </li>
						<li>Email :  <a href="{{path('app_contact')}} ">contact@atelierhalo.fr</a></li>
						<li>Site : atelierhalo.fr</li>
					</ul>

					<h2>2. Prestations proposées</h2>

					<p>
						Atelier Halo propose notamment :
					</p>

					<ul>
						<li>Création de sites internet</li>
						<li>Développement PHP / Symfony</li>
						<li>Refonte de sites web</li>
						<li>Maintenance technique</li>
						<li>Optimisation SEO</li>
						<li>Déploiement VPS</li>
						<li>Conseil digital</li>
					</ul>

					<h2>3. Devis et commandes</h2>

					<p>
						Toute prestation fait l’objet d’un accord écrit,
																		                    d’un devis ou d’une validation explicite du client.
					</p>

					<h2>4. Tarifs</h2>

					<p>
						Les prix sont exprimés en euros (€).
					</p>

					<p>
						TVA non applicable – article 293 B du CGI.
					</p>

					<h2>5. Paiement</h2>

					<p>
						Un acompte peut être demandé avant le début du projet.
																		                    Le solde est dû à la livraison finale.
					</p>

					<h2>6. Délais</h2>

					<p>
						Les délais sont donnés à titre indicatif.
																		                    Atelier Halo ne peut être tenu responsable
																		                    des retards causés par des éléments externes
																		                    ou des réponses tardives du client.
					</p>

					<h2>7. Obligations du client</h2>

					<p>
						Le client s’engage à fournir des contenus
																		                    et informations exactes nécessaires au projet.
					</p>

					<h2>8. Propriété intellectuelle</h2>

					<p>
						Les développements restent la propriété
																		                    d’Atelier Halo jusqu’au paiement complet.
					</p>

					<h2>9. Maintenance et hébergement</h2>

					<p>
						Sauf contrat spécifique, Atelier Halo n’est pas responsable
																		                    des interruptions liées à l’hébergement ou aux services tiers.
					</p>

					<h2>10. Responsabilité</h2>

					<p>
						Atelier Halo est soumis à une obligation de moyens
																		                    et non de résultat.
					</p>

					<h2>11. Confidentialité</h2>

					<p>
						Les échanges et documents transmis dans le cadre
																		                    du projet sont considérés comme confidentiels.
					</p>

					<h2>12. Données personnelles</h2>

					<p>
						Les données collectées via le formulaire de contact
																		                    sont utilisées uniquement pour les échanges commerciaux.
					</p>

					<h2>13. Données personnelles</h2>

					<p>
						Les données collectées via le formulaire de contact
												    sont utilisées uniquement dans le cadre des échanges commerciaux.
					</p>

					<p>
						Le client peut demander :
					</p>

					<ul>
						<li>l’accès à ses données,</li>
						<li>leur modification,</li>
						<li>ou leur suppression.</li>
					</ul>


					<h2>14. Droit applicable</h2>

					<p>
						Les présentes CGV sont soumises au droit français.
					</p>

					<p>
						En cas de litige, les parties tenteront
												    de trouver une solution amiable avant
												    toute procédure judiciaire.
					</p>

					<h2>15. Acceptation des CGV</h2>

					<p>
						Toute commande implique l’acceptation
												    pleine et entière des présentes
												    Conditions Générales de Vente.
					</p>

				</div>

			</div>

		</div>

	</section>

{% endblock %}
