<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="UTF-8">

		<title>
			{% block title %}
				Atelier Halo | Développeur Symfony Freelance
			{% endblock %}
		</title>

		<meta name="description" content="Atelier Halo développe des sites web modernes avec Symfony : site vitrine, refonte, backoffice, SEO, responsive mobile et déploiement VPS.">

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="robots" content="index, follow">

		<meta name="author" content="Atelier Halo">

		<link rel="canonical" href="https://atelierhalo.fr/">

		<meta name="viewport" content="width=device-width, initial-scale=1">

		{{ encore_entry_link_tags('app') }}
	</head>

	<body>

		{% block body %}{% endblock %}

		{{ encore_entry_script_tags('app') }}

	</body>
</html>
